In [ ]:
'''
Solving missing values to achieve clean and useful dataset
As a finacial data consultant, an investor has tasked your team  with identifying new business opportunities to help decide 
 which companies valued more than $1 billion to invest in in the future.
1. The companies in `hardware` industry are based in either Beijing, San Francisco  or London
2. Companies in AI industry are based in London
3. A list of the top 20 countries sorted by sum of comapny valuations in each country, excluding `USA`, `China`, `India`, and `UK`
4. A global valuation map of all countries with companies that joined the list after 2020
5. A global valuation map of all countries except USA, China, India and UK
The dataset includes a list of businesses and data points, such as the year they were founded, their industry,
and their city, country and continent
'''

In [11]:
#STEP 1
import pandas as pd
import numpy as np
import seaborn as sns
import datetime
from matplotlib import pyplot as plt
import plotly.express as px

In [12]:
#load the dataset
df_companies = pd.read_csv('Unicorn_Companies.csv')

In [ ]:
#STEP 2 - Data Exploration
#display top 10 rows
df_companies.head(10)

In [14]:
#get the shape of the dataset
df_companies.shape

(1074, 10)

In [30]:
#get the data types and number of non-null values 
df_companies.info()
#notice `City` and `Select Investors` columns has fewer count values indicating missing data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1074 non-null   object
 1   Valuation         1074 non-null   object
 2   Date Joined       1074 non-null   datetime64[ns]
 3   Industry          1074 non-null   object
 4   City              1058 non-null   object
 5   Country/Region    1074 non-null   object
 6   Continent         1074 non-null   object
 7   Year Founded      1074 non-null   int64
 8   Funding           1074 non-null   object
 9   Select Investors  1073 non-null   object
 10  Year Joined       1074 non-null   int32
 11  valuation_num     1074 non-null   int64
dtypes: datetime64[ns](1), int32(1), int64(2), object(8)
memory usage: 96.6+ KB

In [ ]:
#descriptive statitistics
df_companies.describe()

In [37]:
#Data preprocessing
#convert `Date Joined` to `datetime` data type
df_companies['Date Joined'] = pd.to_datetime(df_companies['Date Joined'])

#create `Year Joined` from `Date Joined`
df_companies['Year Joined'] = df_companies['Date Joined'].dt.year
df_companies.head(20)

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors,Year Joined,valuation_num
0,Bytedance,$180B,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S...",2017,180
1,SpaceX,$100B,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012,100
2,SHEIN,$100B,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China...",2018,100
3,Stripe,$95B,2014-01-23,Fintech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG",2014,95
4,Klarna,$46B,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita...",2011,46
5,Canva,$40B,2018-01-08,Internet software & services,Surry Hills,Australia,Oceania,2012,$572M,"Sequoia Capital China, Blackbird Ventures, Mat...",2018,40
6,Checkout.com,$40B,2019-05-02,Fintech,London,United Kingdom,Europe,2012,$2B,"Tiger Global Management, Insight Partners, DST...",2019,40
7,Instacart,$39B,2014-12-30,"Supply chain, logistics, & delivery",San Francisco,United States,North America,2012,$3B,"Khosla Ventures, Kleiner Perkins Caufield & By...",2014,39
8,JUUL Labs,$38B,2017-12-20,Consumer & retail,San Francisco,United States,North America,2015,$14B,Tiger Global Management,2017,38
9,Databricks,$38B,2019-02-05,Data management & analytics,San Francisco,United States,North America,2013,$3B,"Andreessen Horowitz, New Enterprise Associates...",2019,38
10,Revolut,$33B,2018-04-26,Fintech,London,United Kingdom,Europe,2015,$2B,"index Ventures, DST Global, Ribbit Capital",2018,33
11,Epic Games,$32B,2018-10-26,Other,Cary,United States,North America,1991,$7B,"Tencent Holdings, KKR, Smash Ventures",2018,32
12,FTX,$32B,2021-07-20,Fintech,NaN,Bahamas,North America,2018,$2B,"Sequoia Capital, Thoma Bravo, Softbank",2021,32
13,Fanatics,$27B,2012-06-06,E-commerce & direct-to-consumer,Jacksonville,United States,North America,2002,$4B,"SoftBank Group, Andreessen Horowitz, Temasek H...",2012,27
14,Chime,$25B,2019-03-05,Fintech,San Francisco,United States,North America,2013,$2B,"Forerunner Ventures, Crosslink Capital, Homebrew",2019,25
15,BYJU's,$22B,2017-07-25,Edtech,Bengaluru,India,Asia,2008,$4B,"Tencent Holdings, Lightspeed India Partners, S...",2017,22
16,J&T Express,$20B,2021-04-07,"Supply chain, logistics, & delivery",Jakarta,Indonesia,Asia,2015,$5B,"Hillhouse Capital Management, Boyu Capital, Se...",2021,20
17,Xiaohongshu,$20B,2016-03-31,E-commerce & direct-to-consumer,Shanghai,China,Asia,2013,$918M,"GGV Capital, ZhenFund, Tencent",2016,20
18,Miro,$18B,2022-01-05,Internet software & services,San Francisco,United States,North America,2011,$476M,"Accel, AltaIR Capital, Technology Crossover Ve...",2022,18
19,Yuanfudao,$17B,2017-05-31,Edtech,Beijing,China,Asia,2012,$4B,"Tencent Holdings, Warbug Pincus, IDG Capital",2017,17

In [28]:
#create a `valuation_num` int column from the `Valuation` string column and strip the `$` and `B`
#define a function to strip `$` and `B` and convert the string to `int` datatype
def str_to_num(my_string):
    my_string = my_string.strip('$B')
    my_string = int(my_string)

    return my_string

In [29]:
#create a `valuation_num` column 
df_companies['valuation_num'] = df_companies['Valuation'].apply(str_to_num)
df_companies.head()

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors,Year Joined,valuation_num
0,Bytedance,$180B,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S...",2017,180
1,SpaceX,$100B,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012,100
2,SHEIN,$100B,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China...",2018,100
3,Stripe,$95B,2014-01-23,Fintech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG",2014,95
4,Klarna,$46B,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita...",2011,46

In [31]:
#check missing values in all the columns
df_companies.isna().sum()
#`City` has 16 missing values and `Select Investors` has one missing value

Company              0
Valuation            0
Date Joined          0
Industry             0
City                16
Country/Region       0
Continent            0
Year Founded         0
Funding              0
Select Investors     1
Year Joined          0
valuation_num        0
dtype: int64

In [34]:
#review and display rows with missing values to understand the nature of the values
#apply the `isna()` method and assign to `mask` - creates a similar boolean dataframe
mask = df_companies.isna()
mask.tail()
mask.head()

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors,Year Joined,valuation_num
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False

In [35]:
#find the indices of rows that contain atleast one `True`, indicating missing values
#use `any()` on the mask
mask = mask.any(axis=1)
mask.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [38]:
#filter the missing rows in the `mask` dataframe and assign to `df_missing_rows` data frame
df_missing_rows = df_companies[mask]
df_missing_rows

#companies with missing `City` are in Singapore, Bahamas and HongKong
#12 of the missing `City` companies are in Singapore, 3 in HongKong - Asia continent
#Check with the database owner to get inteligent response on the missing data

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors,Year Joined,valuation_num
12,FTX,$32B,2021-07-20,Fintech,NaN,Bahamas,North America,2018,$2B,"Sequoia Capital, Thoma Bravo, Softbank",2021,32
170,HyalRoute,$4B,2020-05-26,Mobile & telecommunications,NaN,Singapore,Asia,2015,$263M,Kuang-Chi,2020,4
242,Moglix,$3B,2021-05-17,E-commerce & direct-to-consumer,NaN,Singapore,Asia,2015,$471M,"Jungle Ventures, Accel, Venture Highway",2021,3
251,Trax,$3B,2019-07-22,Artificial intelligence,NaN,Singapore,Asia,2010,$1B,"Hopu Investment Management, Boyu Capital, DC T...",2019,3
325,Amber Group,$3B,2021-06-21,Fintech,NaN,Hong Kong,Asia,2015,$328M,"Tiger Global Management, Tiger Brokers, DCM Ve...",2021,3
382,Ninja Van,$2B,2021-09-27,"Supply chain, logistics, & delivery",NaN,Singapore,Asia,2014,$975M,"B Capital Group, Monk's Hill Ventures, Dynamic...",2021,2
541,Advance Intelligence Group,$2B,2021-09-23,Artificial intelligence,NaN,Singapore,Asia,2016,$536M,"Vision Plus Capital, GSR Ventures, ZhenFund",2021,2
629,LinkSure Network,$1B,2015-01-01,Mobile & telecommunications,Shanghai,China,Asia,2013,$52M,NaN,2015,1
811,Carousell,$1B,2021-09-15,E-commerce & direct-to-consumer,NaN,Singapore,Asia,2012,$288M,"500 Global, Rakuten Ventures, Golden Gate Vent...",2021,1
848,Matrixport,$1B,2021-06-01,Fintech,NaN,Singapore,Asia,2019,$100M,"Dragonfly Captial, Qiming Venture Partners, DS...",2021,1
880,bolttech,$1B,2021-07-01,Fintech,NaN,Singapore,Asia,2018,$210M,"Mundi Ventures, Doqling Capital Partners, Acti...",2021,1
889,Carro,$1B,2021-06-14,E-commerce & direct-to-consumer,NaN,Singapore,Asia,2015,$595M,"SingTel Innov8, Alpha JWC Ventures, Golden Gat...",2021,1
893,Cider,$1B,2021-09-02,E-commerce & direct-to-consumer,NaN,Hong Kong,Asia,2020,$140M,"Andreessen Horowitz, DST Global, IDG Capital",2021,1
980,NIUM,$1B,2021-07-13,Fintech,NaN,Singapore,Asia,2014,$285M,"Vertex Ventures SE Asia, Global Founders Capit...",2021,1
986,ONE,$1B,2021-12-08,Internet software & services,NaN,Singapore,Asia,2011,$515M,"Temasek, Guggenheim Investments, Qatar Investm...",2021,1
994,PatSnap,$1B,2021-03-16,Internet software & services,NaN,Singapore,Asia,2007,$352M,"Sequoia Capital China, Shunwei Capital Partner...",2021,1
1061,WeLab,$1B,2017-11-08,Fintech,NaN,Hong Kong,Asia,2013,$871M,"Sequoia Capital China, ING, Alibaba Entreprene...",2017,1